html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 80vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;

}

.title {
    font-size: 84px;
}

.links > a, .links > form  {
    color: #1a1a1a !important;
    padding: 0 40px;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.horizontal-list > a, .horizontal-list > form, .horizontal-list > button {
    float:right;
}

.links > a:hover{
    text-decoration: none;
    color: grey !important;
}

.m-b-md {
    margin-bottom: 30px;
}

.img-cambiante{
    background: #ffffff55;
}

.logoHSH-grey{
    filter: saturate(0.1);
}

.home{
   min-height: 500px;
}

.home{
    min-height: 500px
 
 }

.mask-white{
    background: rgba(255, 255, 255, 0.7);
}

.descripcion{
    font-size: x-large;
}
.exito{
    background: #05863b85;
    width: max-content;
    padding: 1em;
    font-size: large;
} 

.fallo{
    background: #86090585;
    padding: 0.5em;
    color: white;
    font-size: large;
} 